<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @nurse.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @nurse.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @nurse.username %>
</p>

<%= link_to 'Edit', edit_nurse_path(@nurse) %> |
<%= link_to 'Back', nurses_path %>
